<!DOCTYPE html>
<html>
    <head>
        <title>BT Geolocation</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        {{template "dependencies"}}
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
        <script>
            // Note: This example requires that you consent to location sharing when
            // prompted by your browser. If you see a blank space instead of the map, this
            // is probably because you have denied permission for location sharing.
            console.log("Init!");
            var mapOptions = {
                zoom: 6
            };

            // Try HTML5 geolocation
            if(navigator.geolocation) {
                console.log("navigator pass");
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);

                    // capture latitude and longtitude... pass back to backend
                    // this tutorial open a new window(pop-up) ...if you don't want to open new window, use AJAX to 
                    // send data to backend

                    handleGeolocationData(position.coords.latitude,position.coords.longitude);
                }, function() {
                    handleNoGeolocation(true);
                });
            } else {
                console.log("navigator fail");
                // Browser doesn't support Geolocation
                handleNoGeolocation(false);
            }
            
            function handleGeolocationData(latitude, longitude){
                window.location = "/location/"+latitude+"/"+longitude;    
            }

            function handleNoGeolocation(error) {
                switch(error.code) {
                    case error.PERMISSION_DENIED:
                        x.innerHTML = "User denied the request for Geolocation."
                        break;
                    case error.POSITION_UNAVAILABLE:
                        x.innerHTML = "Location information is unavailable."
                        break;
                    case error.TIMEOUT:
                        x.innerHTML = "The request to get user location timed out."
                        break;
                    case error.UNKNOWN_ERROR:
                        x.innerHTML = "An unknown error occurred."
                        break;
                }
            }

            google.maps.event.addDomListener(window, 'load', initialize);

        </script>
        <style>
            body {
                width: 100vw;
                height: 100vh;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: url('assets/img/welcomeBG.png');
                background-repeat: no-repeat;
                background-size: cover;
            }
            .logoWelcome img{
                position:absolute;
                left:0;
                top:0;
                margin-left: 10px;
                margin-top: 10px;
                width: 170px;
                height: auto;
            }
            .tracking-div{
                max-width: 300px;
                min-width: 300px;
                padding: 35px;
                border: 1px solid #ddd;
                border-radius: 8px;
            }
            .blob {
                background: #00008b;
                border-radius: 50%;
                margin: 10px;
                height: 20px;
                width: 20px;

                box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
                transform: scale(1);
                animation: pulse 2s infinite;
            }
            @keyframes pulse {
                0% {
                    transform: scale(0.95);
                    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
                }

                70% {
                    transform: scale(1);
                    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
                }

                100% {
                    transform: scale(0.95);
                    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                }
            }
        </style>
    </head>
    <body>
        <div class="fixed-action-btn">
            <a class="waves-effect waves-light btn blue" href="/createRoute">Stop Tracking</a>
        </div>
        <div class="tracking">
            <div class="logoWelcome"> 
                <img src="assets/img/logo.png"> 
            </div> 
            <div class="row">
                <blockquote>
                    <h4>Tracking</h4>
                </blockquote>
            </div>
            <div class="blob"></div>
        </div>
    </body>
</html> 