<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BT View Route</title>

        {{template "dependencies"}}

        <style>
            iframe {
                height: -webkit-fill-available;
            }
        </style>    
    </head>
    <body>
        <div class="fixed-action-btn">
            <a class="waves-effect waves-light btn blue" href="/routes">Back</a>
        </div>
        <iframe
            width="100%"
            height="100%"
            frameborder="0" style="border:0"
            {{if eq .RouteWayPx ""}}
                src="https://www.google.com/maps/embed/v1/directions?key=YOUR_API_KEY&origin={{.RouteStartPx.Lat}},{{.RouteStartPx.Lon}}&destination={{.RouteEndPx.Lat}},{{.RouteEndPx.Lon}}&mode=bicycling" allowfullscreen>
            {{else}}
                src="https://www.google.com/maps/embed/v1/directions?key=YOUR_API_KEY&origin={{.RouteStartPx.Lat}},{{.RouteStartPx.Lon}}&destination={{.RouteEndPx.Lat}},{{.RouteEndPx.Lon}}&waypoints={{.RouteWayPx}}&mode=bicycling" allowfullscreen>
            {{end}}
        </iframe>
    </body>
</html>